
.container {
	display: flex;
}


.buttonx {
	background-color: white; 
	color: #f44336; 
	border: 2px solid #f44336;
}

.buttonx:hover {
	background-color: #f44336;
	color: white;
}

.custom-shape-divider-bottom-1637546137 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1637546137 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 67px;
}

.custom-shape-divider-bottom-1637546137 .shape-fill {
    fill: #FFFFFF;
}

.is-invalid ~ .select2 .select2-selection__rendered {
	border: 1px solid red;
}

.input-types {
	margin-top: 0px;
}

.td-custom {
	text-align: center;
	padding: 5px;
	border-top: none !important;
}

.text-area {
	width: 100%;
}

.tr-custom {
	border-top: none !important;
}

.gray-text {
    color: #b7b7b7;
}

.passed-text {
    color: #c77c7c;
}

.highlight-text {
    color: #E20000;
}

.bg-active-custom {
    background-color: #DB0000 !important;
    color: #F6F6F6;
}

.bg-passed-custom {
    background-color: #f08080 !important;
    color: #F6F6F6;
}

.card-custom {
    border: 0px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 6.25rem !important;
}

lord-icon {
	width: 500px;
	height: 500px;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    lord-icon {
        width: 300px;
        height: 300px;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    lord-icon {
        width: 400px;
        height: 400px;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    lord-icon {
        width: 500px;
        height: 500px;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    lord-icon {
        width: 500px;
        height: 500px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    lord-icon {
        width: 500px;
        height: 500px;
      }
}
